{% extends "base.html" %}
{% load static %}
{% block content %}
  
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Validation</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Validation</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section" style="padding-bottom: 0px;">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<form id="order_form"  method="post" data-communes-url="{% url 'delivery:load_communes' %}">
						{% csrf_token %}
						<div class="col-md-7">
							<!-- Billing Details -->
							<div class="billing-details">
								<div class="section-title">
									<h3 class="title">Coordonnées</h3>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="first_name" placeholder="nom (اللقب)">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="last_name" placeholder="prenom (الاسم)">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="address"placeholder="addresse ( العنوان)">
								</div>
								<div class="form-group">
									<input class="input" type="email" name="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input class="input" type="tel" name="phone" placeholder="Téléphone (رقم الهاتف)">
								</div>
								
								<div class="form-group">
									<select class="input" name="wilaya" id="wilayaId"  required>
										<option class="option" value='' selected>Wilaya ( الولاية)</option>
										{% for wilaya in wilayas %}
											<option class="option" data-price={{wilaya.price}} value={{wilaya.id}}>{{wilaya.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group">
									<select class="input" name="commune" id="communesId" required>
										<option class="option" value='' selected>Commune (البلدية)</option>
										{% for commune in communes %}
											<option class="option" value={{commune.id}}>{{commune.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<!-- /Billing Details -->
							<!-- Order notes -->
							<div class="order-notes">
								<textarea class="input" name="note" placeholder="Order Notes"></textarea>
							</div>
							<!-- /Order notes -->
						</div>
						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">Votre Commande</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>PRODUCT</strong></div>
									<div><strong>TOTAL</strong></div>
								</div>
								<div class="order-products">
										{% with total_items=cart|length %}
										{% if total_items > 0 %}
											{% for item in cart %}
												{% with product=item.product %}
												<div class="order-col">
													<div>{{item.quantity}} x {{product.name}}</div>
													<div>{{item.total_price}} DZD</div>
												</div>
												{% endwith %}
										{% endfor %}
										
										{% else %}
											Vou n'avez pas de produit dans votre panier
										{% endif %}
										{% endwith %}
								</div>
								<div class="order-col">
									<div>Livraison</div>
									<div id="deliveryCost"><strong>Disponible</strong></div>
								</div>
								{% if cart.coupon %}
									<div class="order-col">
										<div style="text-transform: uppercase">Réduction</div>
										{% if cart.coupon.discount_percentage %}
										<h4>
											<div><strong>- {{cart.coupon.discount_percentage}} %</strong></div>
										</h4>
										{% else %}
											<div>
												<h4>
													<strong>
														- {{cart.coupon.discount_amount}}
													</strong>
												</h4>
											</div>
										{% endif %}
									</div>
								{% endif %}
								<div class="order-col">
									<div><strong>TOTAL</strong></div>
									<div>
								
									</div>
								</div>
							</div>
							<div class="payment-method">
							<button type="submit" class="primary-btn order-submit btn-block">Confirmer Ma Commande</button>
						</div>
						<!-- /Order Details -->
					</form>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
