{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Échange 
			</h1></center>
			<p class="t-center m-t-30">
				Si l’article que vous avez reçu ne vous donne pas entière satisfaction, vous disposez de 24 heures pour l’échanger contre un autre article de notre boutique (hors périodes de soldes).

Si l'article reçu est endommagé ou présente un défaut de fabrication, merci de prendre en photo le ou les défauts remarqué(s) et nous l'envoyer par e-mail, suite à quoi nous confirmerons le retour de l'article.

Les frais de renvoi du produit d'échange vous sont offert par LA Marchesa en cas d'échange standard (taille, couleur). 

			</p>
		</div>
	</section>
{% endblock content %}
