{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Livraison 
			</h1></center>
			<p class="t-center m-t-30">
				Toutes nos chaussures sont livrées dans une boite nouée d'un joli ruban noir, car nous considérons que chaque commande La Marchesa est un cadeau, qu'il soit pour soi-même ou pour offrir !.	

				Votre commande est livrée sous 3-6 jours ouvrés en moyenne <strong>(hors week-end et jours fériés)</strong> et jusqu'à 8 jours ouvrés en cas de problèmes techniques.

				Les frais de livraison sont à votre charge pour toute commande inférieure à 10.000DZD Les frais de retour vous sont offerts pour toute commande supérieure à 10.000DZD livrée et seulement en cas d'échange ou de création d'avoir. En cas de souhait de remboursement, les frais de retour sont à la charge du client.
			</p>
		</div>
	</section>
{% endblock content %}
