{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Carte bancaire
			</h1></center>
			<p class="t-center m-t-30">
				Vous pouvez payer par carte bancaire en choisissant « carte CIB » et en renseignant les informations demandées au moment de la finalisation de votre commande. Les données que vous fournissez sont protégées et ne sont pas cédées ou échangées. Vous recevrez instantanément une confirmation de commande par e-mail. Le traitement et l'envoi de votre commande commenceront dès réception de votre paiement.
			</p>
		</div>
	</section>


{% endblock content %}
