{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}

	<!-- content page -->
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Paiement en espèces
			</h1></center>
			<p class="t-center m-t-30">
				Vous pouvez régler paiement en espèces directement au moment de la livraison de votre commande. Il vous suffit de passer votre commande directement sur notre site et de choisir l'option "payer en espèces " au moment du règlement. Vous recevrez instantanément une confirmation de commande par e-mail. Répondez à cet e-mail en précisant que vous souhaitez régler votre commande en espèces sur place.
			</p>
		</div>
	</section>


{% endblock content %}
