{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}

	<!-- content page -->
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Paiement
			</h1></center>
			<p class="t-center m-t-30">
				Toutes les transactions effectuées sur notre e-shop sont cryptées et sécurisées selon les normes de sécurité actuelles les plus élevées De plus, notre site obéit au protocole qui garantit la confidentialité des données envoyées par l’internaute ! Il n’y a donc aucune inquiétude à avoir, nous ne serons jamais en possession de vos données bancaires !
			</p>
		</div>
	</section>


{% endblock content %}
