{% extends "base.html" %}
{% load i18n %}

{% load static %}


{% block content %}

	<!-- content page -->
	<section class=" p-t-66 p-b-38 m-b-50">
		<div class="container">
			<center><h1 classe="l-text2 t-center m-t-10">
				Virement bancaire
			</h1></center>
			<p class="t-center m-t-30">
				Vous souhaitez nous régler par virement. Il vous suffit de passer votre commande directement sur notre site et de choisir l'option "payer par virement" au moment du règlement. Vous recevrez instantanément une confirmation de commande par e-mail avec les coordonnées bancaires afin d'effectuer votre virement. Le traitement et l'envoi de votre commande commenceront dès réception de votre paiement.
			</p>
		</div>
	</section>


{% endblock content %}
